@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body {
    overflow: auto;
    background-color:#fcfcfc;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 2em;
}

.container{
    margin: 0;
    padding: 0;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .break {
      width: 100% !important;
  }
  .custom-button{
    display: inline-flex;
    width: 280px;
    height: 55px;
    margin: 10px;
    perspective: 1000px;
    text-align: center;
  }
  .custom-button a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .custom-button a:before,
  .custom-button a:after{
    position: absolute;
    content: attr(data-button-content);
    height: 55px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .custom-button a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  .custom-button a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .custom-button a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }